.transaction-list-item {
  cursor: auto !important;
  &__primary-currency {
    color: $Black-100;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__secondary-currency {
    font-size: 12px;
    margin-top: 4px;
    color: $Grey-500;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  & &--unconfirmed {
    color: $Grey-500;
  }

  &--unconfirmed &__primary-currency {
    color: $Grey-500;
  }

  &__pending-actions {
    padding-top: 12px;
    display: flex;

    .button {
      font-size: 0.625rem;
      padding: 8px;
      width: 75px;
      white-space: nowrap;
      line-height: 1rem;
    }

    &:empty {
      padding-top: 0;
    }
  }

  .list-item__subheading > h3 {
    overflow: visible;
    display: flex;
    white-space: nowrap;
    text-overflow: initial;
  }

  .transaction-status::after {
    content: "·";
    margin: 0 4px;
  }

  &__origin,
  &__address {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__origin {
    /*rtl:ignore*/
    direction: rtl;
  }
  .tolar_link {
    color: #0d96c8;
  }

  .m-l-6 {
    margin-left: 6px;
  }
}

.transaction {
  padding: 24px 20px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.transaction__header {
  margin-bottom: 16px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction__header__type {
  padding: 4px 12px;
  border: 1px solid white;
  border-radius: 14px;
  font-size: 10px;
  line-height: 14px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: white;

  &--otcoming {
    color: $tolar-action;
    border-color: $tolar-action;
  }

  &--incoming {
    color: #50E39D;
    border-color: #50E39D;
  }
}

.transaction__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.transaction__content__address {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.transaction__content__price {
    text-align: right;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.t {
  display: inline-block;
  color: $tolar-light;
  font-size: 16px;

  &--dimmed {
    opacity: 0.5;

    text-transform: uppercase;
    letter-spacing: 0.5px;
  }

  &--action {
    color: $tolar-action;

    &:hover {
      opacity: 0.7;
    }
  }

  &--large {
    font-size: 20px;
    line-height: 28px;
  }

  &--medium {
    font-size: 16px;
    opacity: 0.6;
  }

  &--elipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.s {
  &--bottom-small {
    margin-bottom: 8px;
  }

  &--right-tiny {
    margin-right: 4px;
  }
}
